@model Ev_4_AE.Models.AvanceOrdenTrabajo
@{
    ViewBag.Title = "Eliminar Avance de orden de trabajo";
    Layout = "~/Views/Shared/_Interna.cshtml";
}
<br />
<div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
    <div>
        <p>Esta accion eliminara el avance que has seleccionado</p>
        ¿Realmente desea eliminarlo?
    </div>
</div>
<div class="container-fluid">
    @using (Html.BeginForm("Eliminar", "Avances", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <button class="btn btn-danger">Eliminar</button>
        <a href="@Url.Action("Listar","Avances", new {id=Model.ordenTrabajoId})" class="btn btn-outline-success">Atras</a>
    }
</div>


