@model Ev_4_AE.Models.OrdenTrabajo
@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Interna.cshtml";
}

<br />
<div class="card">
    <div class="card-header">
        <h5 class="text-center">Nuevo</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">Completar con la información</h5>
        @using (Html.BeginForm("", "OrdenTrabajo", FormMethod.Post))
        {
            @Html.Partial("_formularios", Model)
        }
    </div>
</div>
