@model Ev_4_AE.Models.OrdenTrabajo
@{
    ViewBag.Title = "Editar Orden De Trabajo";
    Layout = "~/Views/Shared/_Interna.cshtml";
}

<br />
<div class="card">
    <div class="card-header">
        <h5 class="text-center">Completar con la información</h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Editar", "OrdenTrabajo", FormMethod.Post))
        {
            @Html.Partial("_formularios", Model)
        }
    </div>
</div>
